---
import PageArticle from "$/components/page/article.astro";
import PageBody from "$/components/page/body.astro";
import PageSectionItem from "$/components/page/section-item.astro";
import PageSectionItems from "$/components/page/section-items.astro";
import PageSection from "$/components/page/section.astro";
import PortfolioLayout from "$/layouts/portfolio.astro";

import agsense from "$/assets/images/agsense.png";
import ddb from "$/assets/images/ddb.png";
import dsu from "$/assets/images/dsu.png";
import mos from "$/assets/images/mos.png";
import mti from "$/assets/images/mti.png";
import udemy from "$/assets/images/udemy.svg";
import valmont from "$/assets/images/valmont.jpg";

const experience = [
	{
		name: "Work Experience",
		experience: [
			{
				id: 3,
				created_at: "2022-07-01T20:21:50.000Z",
				name: "Forum, Twitch, and Discord Moderator",
				nameLink: null,
				image: ddb,
				h4: "D&D Beyond",
				h4Link: "https://www.dndbeyond.com/",
				h5: "2019 - Present",
				h5Link: null,
				category_id: 1
			},
			{
				id: 2,
				created_at: "2022-07-01T20:20:51.000Z",
				name: "Front End Web Developer",
				nameLink: null,
				image: valmont,
				h4: "Valmont Industries, Inc.",
				h4Link: "https://www.valmont.com/",
				h5: "2019 - Present",
				h5Link: null,
				category_id: 1
			},
			{
				id: 1,
				created_at: "2022-07-01T20:19:01.000Z",
				name: "Web Developer",
				nameLink: null,
				image: agsense,
				h4: "AgSense, LLC.",
				h4Link: "https://www.agsense.com/",
				h5: "2012 - Present",
				h5Link: null,
				category_id: 1
			}
		]
	},
	{
		name: "Education",
		experience: [
			{
				id: 4,
				created_at: "2022-07-01T20:30:45.000Z",
				name: "Computer and Information Systems Security/Information Assurance",
				nameLink: null,
				image: dsu,
				h4: "Dakota State University",
				h4Link: "https://dsu.edu/academics/degrees-and-programs/computer-information-systems-bs",
				h5: "Bachelor of Science Degree",
				h5Link: null,
				category_id: 2
			},
			{
				id: 5,
				created_at: "2022-07-01T20:29:12.000Z",
				name: "Computer Software and Media Applications",
				nameLink: null,
				image: mti,
				h4: "Mitchell Technical Institute",
				h4Link: "https://www.mitchelltech.edu/academics/programs-we-offer/online/administrative-office-specialist",
				h5: "Associate's Degree",
				h5Link: null,
				category_id: 2
			}
		]
	},
	{
		name: "Licenses & Certifications",
		experience: [
			{
				id: 8,
				created_at: "2022-07-01T20:39:08.000Z",
				name: "Next.js & React - The Complete Guide",
				nameLink: null,
				image: udemy,
				h4: "Udemy - Academind by Maximilian Schwarzm端lle",
				h4Link: null,
				h5: "Certificate",
				h5Link: "http://ude.my/UC-9057120f-61f0-480b-aaf0-8b3e77b095bb",
				category_id: 3
			},
			{
				id: 10,
				created_at: "2022-07-01T20:37:28.000Z",
				name: "Nuxt.js - Vue.js on Steroids",
				nameLink: null,
				image: udemy,
				h4: "Udemy - Academind by Maximilian Schwarzm端lle",
				h4Link: null,
				h5: "Certificate",
				h5Link: "http://ude.my/UC-T5TFG77X",
				category_id: 3
			},
			{
				id: 9,
				created_at: "2022-07-01T20:36:46.000Z",
				name: "Understanding TypeScript",
				nameLink: null,
				image: udemy,
				h4: "Udemy - Academind by Maximilian Schwarzm端lle",
				h4Link: null,
				h5: "Certificate",
				h5Link: "http://ude.my/UC-DIDRRWV8",
				category_id: 3
			},
			{
				id: 7,
				created_at: "2022-07-01T20:34:31.000Z",
				name: "React - The Complete Guide",
				nameLink: null,
				image: udemy,
				h4: "Udemy - Academind by Maximilian Schwarzm端lle",
				h4Link: null,
				h5: "Certificate",
				h5Link: "http://ude.my/UC-WSZBKXEW",
				category_id: 3
			},
			{
				id: 6,
				created_at: "2022-07-01T20:33:29.000Z",
				name: "Microsoft Office Specialist",
				nameLink: null,
				image: mos,
				h4: "Microsoft Excel - Mitchell Tech",
				h4Link: null,
				h5: "Credential ID 6154048",
				h5Link: "https://www.microsoft.com/en-us/learning/dashboard.aspx",
				category_id: 3
			}
		]
	}
];
---

<PortfolioLayout title="Experience">
	<PageBody>
		<PageArticle class="w-full max-w-4xl">
			{
				experience.map((section) => (
					<PageSection>
						<h2 class="section-heading">{section.name}</h2>
						<PageSectionItems>
							{section.experience.map((exp, i) => (
								<PageSectionItem image={exp.image}>
									<h3 class="m-0 font-robo-flex text-base font-medium">
										{!exp.nameLink ? (
											exp.name
										) : (
											<a href={exp.nameLink} target="_blank" rel="noreferrer noopener" class="font-normal text-secondary">
												{exp.name}
											</a>
										)}
									</h3>
									<p class="mb-0 text-sm font-light text-theme-faded">
										{!exp.h4Link ? (
											exp.h4
										) : (
											<a href={exp.h4Link} target="_blank" rel="noreferrer noopener" class="font-normal text-secondary">
												{exp.h4}
											</a>
										)}
									</p>
									<p class="mb-0 text-sm font-light text-theme-faded">
										{!exp.h5Link ? (
											exp.h5
										) : (
											<a href={exp.h5Link} target="_blank" rel="noreferrer noopener" class="font-normal text-secondary">
												{exp.h5}
											</a>
										)}
									</p>
								</PageSectionItem>
							))}
						</PageSectionItems>
					</PageSection>
				))
			}
		</PageArticle>
	</PageBody>
</PortfolioLayout>
