---
import GalleryItem from "$components/gallery/item.astro";
import PortfolioLayout from "$layouts/portfolio.astro";
import { sorter } from "$src/util";
import { getCollection } from "astro:content";

const collection = await getCollection("projects");
const projects = collection.map((col) => col.data).sort((a, b) => sorter(b.date, a.date));
---

<PortfolioLayout title="Projects">
	<div class="grid grid-cols-[repeat(auto-fill,minmax(19rem,1fr))] gap-4 md:gap-6">
		{
			projects.map((project) => (
				<GalleryItem
					image={project.image}
					title={project.title}
					subtitle={project.subtitle}
					description={project.tags
						.map((tag) => {
							if (tag.description) return `${tag.name} (${tag.description})`;
							return tag.name;
						})
						.join(", ")}
					link={project.link}
				/>
			))
		}
	</div>
</PortfolioLayout>
