---
import GalleryItem from "../components/gallery/item.astro";
import PortfolioLayout from "../layouts/portfolio.astro";
import { sorter } from "../util";

const projects = [
	{
		created_at: "2023-07-01T20:00:00.000Z",
		title: "D&D Adventurers League Log Sheet",
		subtitle: "Version 2 (Sveltekit)",
		description: "Sveltekit, TypeScript, Auth.js, Prisma, Planetscale, TailwindCSS, DaisyUI",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/ddal-log.jpg",
		link: "https://github.com/sillvva/ddal-svelte"
	},
	{
		created_at: "2022-08-15T23:57:37.000Z",
		title: "D&D Adventurers League Log Sheet",
		subtitle: "Version 1 (T3 Stack)",
		description:
			"T3 Stack (Next.js, NextAuth, TypeScript, tRPC, Prisma, TailwindCSS), Vercel, Google OAuth, Planetscale, DaisyUI",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/ddal-log.jpg",
		link: "https://github.com/sillvva/adventurers-league-log"
	},
	{
		created_at: "2022-07-24T15:00:03.000Z",
		title: "Personal Website",
		subtitle: "Version 6 (T3 Stack)",
		description:
			"T3 Stack (create.t3.gg), Next.js, Supabase, TypeScript, Prisma, tRPC, Vercel, Cloudflare, Tailwind CSS, Daisy UI",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me3.jpeg",
		link: "https://github.com/sillvva/t3.dekok.app"
	},
	{
		created_at: "2022-07-01T20:08:33.000Z",
		title: "Personal Website",
		subtitle: "Version 5 (SvelteKit)",
		description: "Vercel, Supabase, Cloudflare, SvelteKit, TypeScript, HTML, SCSS, TailwindCSS",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me3.jpeg",
		link: "https://github.com/sillvva/sveltekit.dekok.app"
	},
	{
		created_at: "2022-07-01T20:07:18.000Z",
		title: "Personal Website",
		subtitle: "Version 4 (Next.js)",
		description: "Firebase, Vercel, Cloudflare, Node.js, NextJS, React, TypeScript, HTML, SCSS, TailwindCSS",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me3.jpeg",
		link: "https://github.com/sillvva/mattdekok.react"
	},
	{
		created_at: "2022-07-01T20:05:57.000Z",
		title: "Personal Website",
		subtitle: "Version 3 (Nuxt 3, Unfinished)",
		description: "Node.js, Nuxt 3, Vue 3, JavaScript, HTML, SCSS, TailwindCSS",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me2.jpg",
		link: "https://github.com/sillvva/mattdekok.nuxt3"
	},
	{
		created_at: "2022-07-01T20:05:20.000Z",
		title: "Personal Website",
		subtitle: "Version 2 (Nuxt 2)",
		description: "Firebase, Heroku, Node.js, Nuxt 2, Vue 2, JavaScript, HTML, SCSS, Vuetify, Github Actions",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me2.jpg",
		link: "https://github.com/sillvva/mattdekok.dev"
	},
	{
		created_at: "2022-07-01T20:03:22.000Z",
		title: "Personal Website",
		subtitle: "Version 1 (React)",
		description: "Heroku, Node.js, React, TypeScript, HTML, SCSS, Bootstrap, Stripe",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me.jpg",
		link: "https://github.com/sillvva/mattdekok.me"
	},
	{
		created_at: "2022-07-01T20:02:07.000Z",
		title: "Valley 365",
		subtitle: "Valmont Industries, Inc. - Web App",
		description: "Angular, TypeScript, jQuery, HTML, SCSS",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-valley-365.jpg",
		link: "https://www.valley365.com/"
	},
	{
		created_at: "2022-07-01T19:59:49.000Z",
		title: "RPG Schedule",
		subtitle: "Discord Bot",
		description: "Google Cloud, Node.js, Nuxt 2, Vue 2, TypeScript, discord.js, MongoDB, HTML, CSS, Web Sockets",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-rpgschedule.jpg",
		link: "https://github.com/sillvva/rpg-schedule"
	},
	{
		created_at: "2022-07-01T19:52:16.000Z",
		title: "@sillvva/react-styled-flexgrid",
		subtitle: "NPM Module - React Components",
		description: "NPM, React, TypeScript, JavaScript, Styled Components",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-npm.jpg",
		link: "https://www.npmjs.com/package/@sillvva/react-styled-flexgrid"
	},
	{
		created_at: "2023-09-01T14:17:31.724Z",
		title: "Personal Website",
		subtitle: "Version 7 (Astro)",
		description: "Asro, TypeScript, Vercel, Cloudflare, Tailwind CSS, Daisy UI",
		image: "https://slxazldgfeytirfrculz.supabase.co/storage/v1/object/public/images/preview-me3.jpeg",
		link: "https://github.com/sillvva/matt-astro"
	}
].sort((a, b) => sorter(b.created_at, a.created_at));
---

<PortfolioLayout title="Projects">
	<div class="grid grid-cols-[repeat(auto-fill,minmax(22rem,1fr))] gap-5">
		{
			projects.map((project, i) => (
				<div class="p-1 px-0 sm:p-3">
					<GalleryItem
						image={project.image}
						title={project.title}
						subtitle={project.subtitle}
						description={project.description}
						link={project.link}
					/>
				</div>
			))
		}
	</div>
</PortfolioLayout>
