---
import { cn, slugify, sorter } from "$/util";

interface Props {
	position: "top" | "bottom";
	currentPage: number;
	lastPage: number;
	tags?: string[];
	tag?: string;
	tagPathFormat?: string;
	hasPages?: boolean;
	url: {
		format: string;
		next?: string;
		prev?: string;
	};
}

function* range(start: number, end: number, step: number) {
	while (start <= end) {
		yield start;
		start += step;
	}
}

const { tags, tag, tagPathFormat, position, currentPage, lastPage, url, hasPages } = Astro.props;
const first = Math.max(1, currentPage - 2);
const last = Math.min(lastPage, currentPage + 2);
const pages = Array.from(range(first, last, 1));
---

<div class="flex w-full">
	{
		hasPages ? (
			<div class={cn("join flex-1", !tags && "flex justify-center")}>
				{url.prev ? (
					<a
						href={url.prev}
						tabindex="0"
						aria-label="Previous Page"
						class="btn join-item btn-sm bg-base-100 px-1 text-lg text-white sm:btn-md sm:px-2"
					>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.42Z" />
						</svg>
					</a>
				) : (
					<span class="btn btn-disabled join-item btn-sm bg-base-100 px-1 text-lg text-white sm:btn-md sm:px-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.42Z" />
						</svg>
					</span>
				)}
				{currentPage > 3 && (
					<a
						href={url.format.replace(":page", "")}
						tabindex="0"
						class="btn join-item btn-sm bg-base-100 text-lg text-white sm:btn-md max-sm:hidden"
					>
						1
					</a>
				)}
				{currentPage > 4 && (
					<span class="btn btn-disabled join-item btn-sm bg-base-100 text-lg text-white sm:btn-md max-sm:hidden">...</span>
				)}
				{pages.map((p) => (
					<a
						href={url.format.replace(":page", p == 1 ? "" : p.toString())}
						tabindex="0"
						class={cn(
							"btn join-item btn-sm text-lg sm:btn-md",
							p === currentPage ? "btn-primary text-white" : "bg-base-100",
							Math.abs(p - currentPage) > 1 && currentPage !== 1 && currentPage !== lastPage && "max-sm:hidden"
						)}
					>
						{p}
					</a>
				))}
				{lastPage - currentPage > 3 && (
					<span class="btn btn-disabled join-item btn-sm bg-base-100 text-lg text-white sm:btn-md max-sm:hidden">...</span>
				)}
				{lastPage - currentPage > 2 && (
					<a
						href={url.format.replace(":page", lastPage.toString())}
						tabindex="0"
						class="btn join-item btn-sm bg-base-100 text-lg text-white sm:btn-md max-sm:hidden"
					>
						{lastPage}
					</a>
				)}
				{url.next ? (
					<a
						href={url.next}
						tabindex="0"
						aria-label="Next Page"
						class="btn join-item btn-sm bg-base-100 px-1 text-lg text-white sm:btn-md sm:px-2"
					>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
						</svg>
					</a>
				) : (
					<span class="btn btn-disabled join-item btn-sm bg-base-100 px-1 text-lg text-white sm:btn-md sm:px-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
						</svg>
					</span>
				)}
			</div>
		) : (
			<div class="flex-1" />
		)
	}
	{
		tags && tagPathFormat && (
			<div class={cn("dropdown dropdown-end", position == "bottom" && "dropdown-top")}>
				<button tabindex="0" class="btn btn-sm bg-base-100 text-lg capitalize text-white sm:btn-md">
					Tags
				</button>
				<ul
					tabindex="0"
					class="menu dropdown-content z-[1] max-h-80 flex-nowrap overflow-y-auto rounded-box bg-base-100 p-2 shadow"
				>
					<li>
						<a
							href={tagPathFormat.replace(":tag", "")}
							aria-label="View All"
							tabindex="0"
							class="hover:bg-accent focus:!bg-accent"
						>
							View All
						</a>
					</li>
					{tags
						.sort((a, b) => sorter(a, b))
						.map((t) => (
							<li>
								<a
									href={tagPathFormat.replace(":tag", slugify(t))}
									class={cn("hover:bg-accent focus:!bg-accent", t == tag && "bg-primary")}
									aria-label={t}
									tabindex="0"
								>
									{t}
								</a>
							</li>
						))}
				</ul>
			</div>
		)
	}
</div>
