---
import { slugify } from "$src/util";
interface Props {
	title: string;
	subtitle: string;
	link: string;
}
---

{
	Astro.props.link ? (
		<a
			href={Astro.props.link}
			target="_blank"
			rel="noopener noreferrer"
			class="relative block aspect-video h-full w-full overflow-hidden rounded-md bg-base-300 p-2 shadow-lg transition-all duration-500 ease-in-out hover:shadow-xl motion-safe:hover:scale-105"
			transition:name={slugify(`${Astro.props.title} ${Astro.props.subtitle}}`)}
		>
			<slot />
		</a>
	) : (
		<div
			class="relative block aspect-video h-full w-full overflow-hidden rounded-md bg-base-300 shadow-lg transition-all duration-500 ease-in-out"
			transition:name={slugify(`${Astro.props.title} ${Astro.props.subtitle}}`)}
		>
			<slot />
		</div>
	)
}
