---
import Drawer from "$/components/drawer.astro";
import type { Props as HeadProps } from "$/components/head.astro";
import Head from "$/components/head.astro";
import { cn } from "$/util";

interface Props extends HeadProps {
	backTo?: {
		href: string;
		text: string;
	};
	noBg?: boolean;
	isPost?: true;
}

const { title, description, image, articleMeta, backTo, noBg, isPost } = Astro.props;

const dev = import.meta.env.DEV || null;
---

<html id="app" lang="en">
	<head>
		<Head {title} {description} {image} {articleMeta} />
	</head>
	<body data-theme="black" class={cn("min-h-screen bg-cover bg-left-bottom bg-no-repeat", noBg ? "bg-base-100" : "bg-img")}>
		<Drawer>
			<header
				class={cn(
					"flex h-20 w-full items-center justify-center gap-4",
					isPost && "xl:pr-[calc(250px+(2*2rem)+1px)]" // ToC Size + padding + border
				)}
			>
				<div class="flex w-16 justify-center lg:w-0">
					<label for="my-drawer" class="btn btn-ghost drawer-button w-full lg:hidden">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
							><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"></path></svg
						>
					</label>
				</div>
				<h1
					class={cn(
						"flex-1 font-sans md:font-montserrat font-medium text-base-content",
						"text-center text-2xl md:text-2xl lg:text-3xl wrap-balance",
						(title?.length || 0) > 24 && "text-sm 3xs:text-base"
					)}
				>
					{title}
				</h1>
				<div class="flex w-16 justify-center lg:w-0">
					{
						backTo && (
							<a href={backTo.href} class="btn btn-ghost flex-1 px-0 font-bold uppercase lg:hidden">
								{backTo.text}
							</a>
						)
					}
				</div>
			</header>
			<main class="flex w-full flex-1 px-4 pb-8 lg:px-8">
				<slot />
			</main>
		</Drawer>
		{
			dev && (
				<div class="fixed bottom-0 right-0 z-50">
					<div class="*:bg-lime-700 *:p-1 *:text-xs *:font-bold *:text-white">
						<div class="xs:hidden">xxs</div>
						<div class="hidden xs:max-sm:block">xs</div>
						<div class="hidden sm:max-md:block">sm</div>
						<div class="hidden md:max-lg:block">md</div>
						<div class="hidden lg:max-xl:block">lg</div>
						<div class="hidden xl:max-2xl:block">xl</div>
						<div class="hidden 2xl:block">2xl</div>
					</div>
				</div>
			)
		}
	</body>
</html>
