---
import Drawer from "$components/drawer.astro";
import type { Props as HeadProps } from "$components/head.astro";
import Head from "$components/head.astro";
import { cn } from "$src/util";

interface Props extends HeadProps {
	backTo?: {
		href: string;
		text: string;
	};
}

const { title, description, image, articleMeta, stylesheets, backTo } = Astro.props;
---

<html lang="en">
	<head>
		<Head {title} {description} {image} {articleMeta} {stylesheets} />
	</head>
	<body id="app" data-theme="black" class="bg-img min-h-screen bg-cover bg-left-bottom bg-no-repeat">
		<Drawer>
			<header class="flex h-20 w-full items-center justify-center gap-4">
				<div class="w-16">
					<label for="my-drawer" class="btn btn-ghost drawer-button w-full lg:hidden">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
							><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"></path></svg
						>
					</label>
				</div>
				<h1
					class={cn(
						"flex-1 font-sans md:font-montserrat font-medium text-base-content",
						"text-center text-2xl md:text-2xl lg:text-3xl",
						(title?.length || 0) > 24 && "text-sm 3xs:text-base"
					)}
				>
					{title}
				</h1>
				<div class="w-16">
					{
						backTo && (
							<a href={backTo.href} class="btn btn-ghost btn-sm font-bold uppercase lg:hidden">
								{backTo.text}
							</a>
						)
					}
				</div>
			</header>
			<main class="w-full px-4 pb-8 md:px-8">
				<slot />
			</main>
		</Drawer>
	</body>
</html>
