---
import { Image } from "astro:assets";
import type { Props as HeadProps } from "../components/head.astro";
import PortfolioLayout from "./portfolio.astro";

interface Props extends HeadProps {
	frontmatter?: Record<string, any>;
	url: string;
}

const { title, description, image, full, date, updated } = Astro.props.frontmatter || {};
const slug = Astro.props.url.replace("/blog", "");

const formattedDate = new Date(date).toLocaleDateString("en-US", {
	month: "long",
	day: "numeric",
	year: "numeric"
});
const formattedUpdate = new Date(updated).toLocaleDateString("en-US", {
	month: "long",
	day: "numeric",
	year: "numeric"
});
---

<PortfolioLayout
	{title}
	{description}
	{image}
	stylesheets={["/styles/prism-one-dark.css"]}
	articleMeta={{
		published_date: date,
		...(updated && { modified_date: updated })
	}}
>
	<article class="mx-auto max-w-4xl">
		<p class="mb-2 text-sm text-theme-faded" aria-label="Date published">
			Posted: <span class="underline decoration-dotted underline-offset-2">{formattedDate}</span>
			{
				updated && (
					<span class="block sm:inline sm:pl-4">
						Updated: <span class="underline decoration-dotted underline-offset-2">{formattedUpdate}</span>
					</span>
				)
			}
		</p>
		{
			!full && (
				<div class="relative aspect-video">
					<Image
						src={image}
						alt={title}
						transition:name={`image_${slug}`}
						width={100}
						height={100}
						class="h-full w-full object-cover object-center pb-4"
					/>
				</div>
			)
		}
		<slot />
	</article>
</PortfolioLayout>
